{
  "openapi": "3.0.1",
  "info": {
    "title": "ESET Connect - Incident Management",
    "description": "<h3>ESET Connect help:</h3><a href=https://help.eset.com/eset_connect/en-US/>https://help.eset.com/eset_connect/en-US/</a>",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://eu.incident-management.eset.systems/"
    }
  ],
  "tags": [
    {
      "name": "Detections"
    },
    {
      "name": "DetectionGroups"
    },
    {
      "name": "EdrRuleExclusions"
    },
    {
      "name": "EdrRules"
    },
    {
      "name": "IncidentComments"
    },
    {
      "name": "Incidents"
    }
  ],
  "paths": {
    "/v1/detections": {
      "get": {
        "tags": [
          "Detections"
        ],
        "summary": "List detections",
        "description": "Return a list of all the [detection]s matching criteria.",
        "operationId": "Detections_ListDetections",
        "parameters": [
          {
            "name": "deviceUuid",
            "in": "query",
            "description": "Include only [detections] that occurred on the referenced [device].\n\ntype: device_management.v1.Device",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Include only incidents whose detections occurred before `end_time` (excluding).\n\n`detection.occur_time` < `end_time`\n\nUse timestamp in UTC or offset format.\nExamples:\n- 2024-10-30T12:00Z\n- 2024-10-30T10:00+02:00\n\n> **Info:**\n> [Google Protobuf: Timestamp](https://protobuf.dev/reference/php/api-docs/Google/Protobuf/Timestamp.html)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Include only incidents whose detections occurred after `start_time` (including).\n\n`detection.occur_time` >= `start_time`\n\nUse timestamp in UTC or offset format.\nExamples:\n- 2024-10-30T12:00Z\n- 2024-10-30T10:00+02:00\n\n> **Info:**\n> [Google Protobuf: Timestamp](https://protobuf.dev/reference/php/api-docs/Google/Protobuf/Timestamp.html)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit for pagination purposes.\n\nIf unspecified or 0, the default value is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 99999,
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token of the current page.\n\nIf not given or \"\", the first page is returned.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incident_managementv1ListDetectionsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/detections/{detectionUuid}": {
      "get": {
        "tags": [
          "Detections"
        ],
        "summary": "Get detection",
        "operationId": "Detections_GetDetection",
        "parameters": [
          {
            "name": "detectionUuid",
            "in": "path",
            "description": "Reference to [detection].\n\ntype: Detection",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incident_managementv1GetDetectionResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/detection-groups": {
      "get": {
        "tags": [
          "DetectionGroups"
        ],
        "summary": "List detection groups",
        "description": "Return a list of all the [detection group]s matching criteria.",
        "operationId": "DetectionGroups_ListDetectionGroups",
        "parameters": [
          {
            "name": "cloudOfficeTenantUuid",
            "in": "query",
            "description": "Reference to [cloud office tenant] whose [detection]s should appear in the response.\n\nIf empty or null, the [detection] of any cloud office tenant will be returned.\n\nFor device [detection]s, it should be null or empty.\n\ntype: cloud_office_protection.v1.CloudOfficeTenant",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "deviceUuid",
            "in": "query",
            "description": "Include only [detections] occurred on the referenced [device].\n\nIf empty or null, the [detections] from any device will be included.\n\nFor cloud office detections, it should remain empty or null.\n\ntype: Device",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Include only incidents whose detections occurred before `end_time` (excluding).\n\n`detection.occur_time` < `end_time`\n\nUse timestamp in UTC or offset format.\nExamples:\n- 2024-10-30T12:00Z\n- 2024-10-30T10:00+02:00\n\n> **Info:**\n> [Google Protobuf: Timestamp](https://protobuf.dev/reference/php/api-docs/Google/Protobuf/Timestamp.html)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Include only incidents whose detections occurred after `start_time` (including).\n\n`detection.occur_time` >= `start_time`\n\nUse timestamp in UTC or offset format:\nExamples:\n- 2024-10-30T12:00Z\n- 2024-10-30T10:00+02:00\n\n> **Info:**\n> [Google Protobuf: Timestamp](https://protobuf.dev/reference/php/api-docs/Google/Protobuf/Timestamp.html)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit for pagination purposes.\n\nIf unspecified or 0, the default value is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 99999,
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token of the current page.\n\nIf not given or \"\", the first page is returned.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListDetectionGroupsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/detection-groups/{detectionGroupUuid}": {
      "get": {
        "tags": [
          "DetectionGroups"
        ],
        "summary": "Get detection group",
        "description": "Get details about a detection group.",
        "operationId": "DetectionGroups_GetDetectionGroup",
        "parameters": [
          {
            "name": "detectionGroupUuid",
            "in": "path",
            "description": "Reference to requested detection group.\n\ntype: DetectionGroup",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2GetDetectionGroupResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/detection-groups/{detectionGroupUuid}:resolve": {
      "post": {
        "tags": [
          "DetectionGroups"
        ],
        "summary": "Resolve detection group",
        "description": "Mark all the [detections] in a group as resolved.",
        "operationId": "DetectionGroups_ResolveDetectionGroup",
        "parameters": [
          {
            "name": "detectionGroupUuid",
            "in": "path",
            "description": "Reference to [detection].\n\ntype: Detection",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectionGroupsResolveDetectionGroupBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ResolveDetectionGroupResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/detection-groups:search": {
      "post": {
        "tags": [
          "DetectionGroups"
        ],
        "summary": "Search detection groups",
        "description": "Search a collection for [detection groups]s matching criteria defined by the filter (if given).\n\n> **Info:**\n> [Search method](https://google.aip.dev/136#common_custom_methods) is used instead of [standard List](https://google.aip.dev/132) to provide extra filtering semantics.",
        "operationId": "DetectionGroups_SearchDetectionGroups",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2SearchDetectionGroupsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2SearchDetectionGroupsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/detections": {
      "get": {
        "tags": [
          "Detections"
        ],
        "summary": "List detections",
        "description": "Return a list of all the [detection]s matching criteria.",
        "operationId": "Detections_ListDetections",
        "parameters": [
          {
            "name": "cloudOfficeTenantUuid",
            "in": "query",
            "description": "Reference to [cloud office tenant] whose [detection]s should appear in the response.\n\nIf empty or null, the [detection] of any cloud office tenant will be returned.\n\nFor device [detection]s, it should be null or empty.\n\ntype: cloud_office_protection.v1.CloudOfficeTenant",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Include only incidents whose detections occurred before `end_time` (excluding).\n\n`detection.occur_time` < `end_time`\n\nUse timestamp in UTC or offset format.\nExamples:\n- 2024-10-30T12:00Z\n- 2024-10-30T10:00+02:00\n\n> **Info:**\n> [Google Protobuf: Timestamp](https://protobuf.dev/reference/php/api-docs/Google/Protobuf/Timestamp.html)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Include only incidents whose detections occurred after `start_time` (including).\n\n`detection.occur_time` >= `start_time`\n\nUse timestamp in UTC or offset format.\nExamples:\n- 2024-10-30T12:00Z\n- 2024-10-30T10:00+02:00\n\n> **Info:**\n> [Google Protobuf: Timestamp](https://protobuf.dev/reference/php/api-docs/Google/Protobuf/Timestamp.html)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit for pagination purposes.\n\nIf unspecified or 0, the default value is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 99999,
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token of the current page.\n\nIf not given or \"\", the first page is returned.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incident_managementv2ListDetectionsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/detections/{detectionUuid}": {
      "get": {
        "tags": [
          "Detections"
        ],
        "summary": "Get detection",
        "description": "Get detection.",
        "operationId": "Detections_GetDetection",
        "parameters": [
          {
            "name": "detectionUuid",
            "in": "path",
            "description": "Reference to [detection].\n\ntype: Detection",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incident_managementv2GetDetectionResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/detections/{detectionUuid}:resolve": {
      "post": {
        "tags": [
          "Detections"
        ],
        "summary": "Resolve detection",
        "description": "Mark a [detection] as resolved.",
        "operationId": "Detections_ResolveDetection",
        "parameters": [
          {
            "name": "detectionUuid",
            "in": "path",
            "description": "Reference to [detection].\n\ntype: Detection",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectionsResolveDetectionBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ResolveDetectionResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/detections:batchGet": {
      "post": {
        "tags": [
          "Detections"
        ],
        "summary": "Batch get detections",
        "description": "Batch-get detections.\n\nThe operation is atomic: it fails for all resources or succeeds for all resources (no partial success).\n\nIf the operation covers multiple locations and at least one location is down, the operation fails.\n\n> **Info:**\n> Modeled after [Batch Methods: Get](https://google.aip.dev/231)",
        "operationId": "Detections_BatchGetDetections",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2BatchGetDetectionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2BatchGetDetectionsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/edr-rule-exclusions": {
      "get": {
        "tags": [
          "EdrRuleExclusions"
        ],
        "summary": "List EDR rule exclusions",
        "description": "List [EDR rule exclusion]s matching criteria.",
        "operationId": "EdrRuleExclusions_ListEdrRuleExclusions",
        "parameters": [
          {
            "name": "includeTotalSize",
            "in": "query",
            "description": "If true, the `total_size` attribute is filled in the response.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit for pagination purposes.\n\nIf unspecified or 0, the default value is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 99999,
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token of the current page.\n\nIf not given or \"\", the first page is returned.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListEdrRuleExclusionsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "EdrRuleExclusions"
        ],
        "summary": "Create EDR rule exclusion",
        "description": "Create an [EDR rule exclusion].",
        "operationId": "EdrRuleExclusions_CreateEdrRuleExclusion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2CreateEdrRuleExclusionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2CreateEdrRuleExclusionResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/edr-rule-exclusions/{exclusionUuid}": {
      "get": {
        "tags": [
          "EdrRuleExclusions"
        ],
        "summary": "Get EDR rule exclusion",
        "description": "Get details of an [EDR rule exclusion].",
        "operationId": "EdrRuleExclusions_GetEdrRuleExclusion",
        "parameters": [
          {
            "name": "exclusionUuid",
            "in": "path",
            "description": "Reference to the [EDR rule exclusion] to be retrieved.\n\ntype: EdrRuleExclusion",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2GetEdrRuleExclusionResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
[...]
