{
  "openapi": "3.0.1",
  "info": {
    "title": "ESET Connect - Vulnerability management",
    "description": "<h3>ESET Connect help:</h3><a href=https://help.eset.com/eset_connect/en-US/>https://help.eset.com/eset_connect/en-US/</a>",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://eu.vulnerability-management.eset.systems/"
    }
  ],
  "tags": [
    {
      "name": "VulnerabilityManagement"
    },
    {
      "name": "VulnerableDevices"
    }
  ],
  "paths": {
    "/v1/device-os-vulnerabilities": {
      "get": {
        "tags": [
          "VulnerableDevices"
        ],
        "summary": "List device operating system vulnerabilities",
        "description": "List vulnerabilities of the operating system of the given device.\n\n> **Note:**\n> Besides vulnerabilities of the Linux kernel, there are also some \"core packages\" whose vulnerabilities are treated as operating system vulnerabilities.\n> For example: glibc, systemd, etc.\n>\n> Such vulnerabilities are reported twice, once as an operating system vulnerability and once as a package vulnerability.",
        "operationId": "VulnerableDevices_ListDeviceOsVulnerabilities",
        "parameters": [
          {
            "name": "deviceUuid",
            "in": "query",
            "description": "Reference to the vulnerable device.\n\nIf the device is identified as \"me\", all the [OS vulnerabilities] of the actual device are returned. If called with \"me\" in the cloud (that is, not on the device where the device context is ambiguous), the call will fail.\n\nIf empty or null, vulnerabilities of the operating system regardless of any device accessible to the caller will be returned in the response.\n\nClean devices with no vulnerabilities have no entry in the collection of vulnerable devices.\n\ntype: VulnerableDevice",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "deviceGroupUuid",
            "in": "query",
            "description": "Reference to the [device group]. \n\nIf filled, only devices within the group will be included in the response. If empty, any device accessible to the caller will be included in the response.\n\ntype: device_management.v1.DeviceGroup",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit for pagination purposes.\n\nIf unspecified or 0, the default value is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 99999,
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token of the current page.\n\nIf not given or \"\", the first page is returned.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListDeviceOsVulnerabilitiesResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/device-vulnerabilities": {
      "get": {
        "tags": [
          "VulnerableDevices"
        ],
        "summary": "List device vulnerabilities",
        "description": "List device vulnerabilities where the vulnerabilities fit the criteria from the request.\n\nEach vulnerability is treated individually; that is, if the device has multiple vulnerabilities, it will be listed multiple times.",
        "operationId": "VulnerableDevices_ListDeviceVulnerabilities",
        "parameters": [
          {
            "name": "deviceUuid",
            "in": "query",
            "description": "Reference to the device whose vulnerabilities should be listed.\n\nIf empty or null, vulnerabilities of any device accessible to the caller will be included in the response.\n\ntype: VulnerableDevice",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "deviceGroupUuid",
            "in": "query",
            "description": "Reference to the device group whose devices' vulnerabilities should be listed. Devices of the nested groups are listed recursively as well.\n\nIf empty or null, vulnerabilities of any device accessible to the caller will be included in the response.\n\ntype: device_management.v1.DeviceGroup",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "vulnerabilityScope",
            "in": "query",
            "description": "The scope of the vulnerability to include in the response.\n\nIf UNSPECIFIED or null, vulnerabilities of any scope from any device accessible to the user will be included in the response.\n\n - VULNERABILITY_SCOPE_UNSPECIFIED: fallback\n - VULNERABILITY_SCOPE_APPLICATION: Vulnerability of an application.\n - VULNERABILITY_SCOPE_OPERATING_SYSTEM: Vulnerability of an operating system.\n - VULNERABILITY_SCOPE_PACKAGE: Vulnerability of a package.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "default": "VULNERABILITY_SCOPE_UNSPECIFIED",
              "enum": [
                "VULNERABILITY_SCOPE_UNSPECIFIED",
                "VULNERABILITY_SCOPE_APPLICATION",
                "VULNERABILITY_SCOPE_OPERATING_SYSTEM",
                "VULNERABILITY_SCOPE_PACKAGE"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit for pagination purposes.\n\nIf unspecified or 0, the default value is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 99999,
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token of the current page.\n\nIf not given or \"\", the first page is returned.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListDeviceVulnerabilitiesResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scans/recent": {
      "get": {
        "tags": [
          "VulnerabilityManagement"
        ],
        "summary": "List recent scan details",
        "description": "List the scan details of all vulnerability scan attempts performed recently (within the last few days).\n\nThe list might be empty if no vulnerability scans have been performed recently.\nStale data (that is, not recent) is removed from the list over the course of several days.",
        "operationId": "VulnerabilityManagement_ListRecentScanDetails",
        "parameters": [
          {
            "name": "deviceUuid",
            "in": "query",
            "description": "Reference to the device whose vulnerability scan details should be listed.\n\nIf empty or null, vulnerability scan details of all devices accessible to the caller will be included in the response.\n\ntype: VulnerableDevice",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "deviceGroupUuid",
            "in": "query",
            "description": "Reference to the [device group].\n\nIf filled, only the vulnerability scan details of the devices within the group will be included in the response. If empty or null, scan details of any device accessible to the caller will be included in the response.\n\ntype: device_management.v1.DeviceGroup",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit for pagination purposes.\n\nIf unspecified or 0, the default value is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 99999,
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token of the current page.\n\nIf not given or \"\", the first page is returned.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListRecentScanDetailsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/vulnerable-devices": {
      "get": {
        "tags": [
          "VulnerableDevices"
        ],
        "summary": "List vulnerable devices",
        "description": "List vulnerable devices matching the criteria from the request.\n\nEven if a device has multiple vulnerabilities, it will be listed only once.",
        "operationId": "VulnerableDevices_ListVulnerableDevices",
        "parameters": [
          {
            "name": "deviceGroupUuid",
            "in": "query",
            "description": "Reference to the [device group] for which the vulnerable devices should be listed.\n\nIf empty or null, any device accessible to the caller will be included in the response.\n\ntype: device_management.v1.DeviceGroup",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit for pagination purposes.\n\nIf unspecified or 0, the default value is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 99999,
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token of the current page.\n\nIf not given or \"\", the first page is returned.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListVulnerableDevicesResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "protobufAny": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "rpcStatus": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            }
          }
        }
      },
      "v1Application": {
        "type": "object",
        "properties": {
          "developerDisplayName": {
            "type": "string",
            "description": "A human-readable version of the application developer."
          },
          "displayName": {
            "type": "string",
            "description": "A human-friendly name of the application."
          },
          "version": {
            "$ref": "#/components/schemas/v1Version"
          },
          "uuid": {
            "type": "string",
            "description": "Unique identifier of the entity.\n\nMust be collision-free - two identifiers created anywhere in the world must not collide within the entity parent scope. Unless a member of aggregate, the entity scope is always global.\n\nAlthough most of the times compliant with [RFC 4122: A Universally Unique IDentifier (UUID) URN Namespace](https://tools.ietf.org/html/rfc4122), do not rely on it being a RFC UUID. Treat it as an opaque identifier.\n\nRFC UUID can be recognized by being formatted according to the template xxxxxxxx-xxxx-Mxxx-Nxxx-xxxxxxxxxxxx, as explained on [Wikipedia](https://en.wikipedia.org/wiki/Universally_unique_identifier#Format).\n\nUUID is used for referencing an entity, even across domains.\n\nExample: \"123e4567-e89b-12d3-a456-426614174000\""
          }
        },
        "description": "Descriptor of the application.\n\nThis entity has the same `uuid` as the application from application management."
      },
      "v1ApplicationVulnerability": {
        "type": "object",
        "properties": {
          "application": {
            "$ref": "#/components/schemas/v1Application"
          },
          "cveNumber": {
            "type": "string",
            "description": "A CVE identifier string.\n\n> **Info:**\n> [CVE identifiers](https://en.wikipedia.org/wiki/Common_Vulnerabilities_and_Exposures#CVE_identifiers)"
          },
          "firstDetectTime": {
            "type": "string",
            "description": "When the vulnerability was detected for the first time.",
            "format": "date-time"
          },
          "lastDetectTime": {
            "type": "string",
            "description": "When the vulnerability was seen for the last time.\n\nVulnerabilities are observed at discrete times. This is also the last time of observation.",
            "format": "date-time"
          },
          "patchAvailable": {
            "type": "boolean",
            "description": "If `true`, a patch fixing this vulnerability is available."
          },
          "riskScore": {
            "type": "integer",
            "description": "How risky the vulnerability is. \n\nThe score is a numerical expression ranging from 0 to 100, where:\n0 = no threat\n100 = threat",
            "format": "int64"
          },
          "severity": {
            "$ref": "#/components/schemas/v1SeverityLevel"
          },
          "vulnerabilityId": {
            "type": "integer",
            "description": "Vulnerability catalog ID.",
            "format": "int64"
          }
        },
        "description": "Descriptor of the application vulnerability."
      },
      "v1DeviceVulnerability": {
        "type": "object",
        "properties": {
          "availablePatchUuids": {
            "type": "array",
            "description": "If a patch is available for the vulnerability found on the device, this list contains the reference to that patch.\n\nIf there is no patch, the list of `available patches` is empty.\n\nAny patch in this list can then be applied via the `patch management` API.\n\ntype: patch_management.v1.DevicePatch",
            "items": {
              "type": "string"
            }
          },
          "deviceUuid": {
            "type": "string",
            "description": "Reference to the [device].\n\ntype: device_management.v1.Device"
          },
          "deviceGroupUuid": {
            "type": "string",
            "description": "Reference to the parent group of the device.\n\ntype: device_management.v1.DeviceGroup"
          },
          "applicationVulnerability": {
            "$ref": "#/components/schemas/v1ApplicationVulnerability"
          },
          "osVulnerability": {
            "$ref": "#/components/schemas/v1OsVulnerability"
          },
          "packageVulnerability": {
            "$ref": "#/components/schemas/v1PackageVulnerability"
          }
        },
        "description": "Descriptor of the device vulnerability.\n\nThere are multiple types of vulnerabilities, such as:\n- application vulnerability\n- operating system vulnerability\n- package vulnerability\n\nFor multiple vulnerabilities on a device, use multiple instances of this message."
      },
      "v1ListDeviceOsVulnerabilitiesResponse": {
        "type": "object",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "description": "Page token of the next page.\n\nEmpty or \"\" for the last page.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)"
          },
          "vulnerabilities": {
            "type": "array",
            "description": "List of resulting vulnerabilities of the operating system.",
            "items": {
              "$ref": "#/components/schemas/v1OsVulnerability"
            }
          }
        }
      },
      "v1ListDeviceVulnerabilitiesResponse": {
        "type": "object",
        "properties": {
          "vulnerabilities": {
            "type": "array",
            "description": "List of device vulnerabilities matching the criteria from the request.",
            "items": {
              "$ref": "#/components/schemas/v1DeviceVulnerability"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Page token of the next page.\n\nEmpty or \"\" for the last page.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)"
          }
        }
      },
      "v1ListRecentScanDetailsResponse": {
        "type": "object",
        "properties": {
          "scanDetails": {
            "type": "array",
            "description": "List of details of the recent vulnerability scans.",
            "items": {
              "$ref": "#/components/schemas/v1ScanDetails"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Page token of the next page.\n\nEmpty or \"\" for the last page.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)"
          }
        }
      },
      "v1ListVulnerableDevicesResponse": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "description": "List of vulnerable devices, that is, devices with at least one vulnerability.",
            "items": {
              "$ref": "#/components/schemas/v1VulnerableDevice"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Page token of the next page.\n\nEmpty or \"\" for the last page.\n\n> **Info:**\n> For more information, refer to [Paginating Requests in APIs](https://medium.com/@ignaciochiazzo/paginating-requests-in-apis-d4883d4c1c4c)\n>\n> or [Design Patterns: Pagination](https://google.aip.dev/158)"
          }
        }
      },
      "v1OsVulnerability": {
        "type": "object",
        "properties": {
          "osFamilyId": {
            "type": "integer",
            "description": "Operating system family. \n\nThe family comprises the whole series of related operating systems.\nSome families feature multiple editions, for example, MacOS versus MacOS Server.\n\n| Value | Description |\n|-------|-------------|\n| 1     | Windows     |\n| 2     | Linux       |\n| 3     | Mac OS      |\n| 7     | Unix        |\n\ntype: os_catalog.v2.OsFamily",
            "format": "int64"
          },
          "cveNumber": {
            "type": "string",
            "description": "A CVE identifier string.\n\n> **Info:**\n> [CVE identifiers](https://en.wikipedia.org/wiki/Common_Vulnerabilities_and_Exposures#CVE_identifiers)"
          },
          "firstDetectTime": {
            "type": "string",
            "description": "When the vulnerability was detected for the first time.",
            "format": "date-time"
          },
          "lastDetectTime": {
            "type": "string",
            "description": "When the vulnerability was seen for the last time.\n\nVulnerabilities are observed at discrete times. This is also the last time of observation.",
            "format": "date-time"
          },
          "patchAvailable": {
            "type": "boolean",
            "description": "If `true`, a patch fixing this vulnerability is available."
          },
          "riskScore": {
            "type": "integer",
            "description": "How risky the vulnerability is. \n\nThe score is a numerical expression ranging from 0 to 100, where:\n0 = no threat\n100 = threat",
            "format": "int64"
          },
          "severity": {
            "$ref": "#/components/schemas/v1SeverityLevel"
          },
          "vulnerabilityId": {
            "type": "integer",
            "description": "Vulnerability catalog ID.",
            "format": "int64"
          }
        },
        "description": "Descriptor of an operating system vulnerability.\n\n> **Note:**\n> Besides vulnerabilities of the Linux kernel, there are also some \"core packages\", whose vulnerabilities are treated as operating system vulnerabilities.\n> For example: glibc, systemd, etc.\n>\n> Such vulnerabilities are reported twice, once as an operating system vulnerability and once as a package vulnerability."
      },
      "v1Package": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "A human-friendly name of the package.\n\nFor example: \"Firefox\""
          },
          "name": {
            "type": "string",
            "description": "Package name as indexed within the package manager.\n\nThe package name identifies a package only in the context of one package manager.\nThe name is not globally unique.\n\nFor example: \"com.example.app123\""
          },
          "packageManagerType": {
            "$ref": "#/components/schemas/v1PackageManagerType"
          },
          "reference": {
            "type": "string",
            "description": "Reference to the package.\n\nReference is an opaque string that identifies the package."
          },
          "versionName": {
            "type": "string",
            "description": "A human-readable name of the package version.\n\nFor example:\n- 2.12\n- 1.1.2j\n- 1:4.8.1-2ubuntu2.2\n- 2:1.02.175-2.1ubuntu4\n- 2:1.02.175-2.1ubuntu5\n- 21H2 1233.223"
          }
        },
        "description": "Package descriptor.\n\nPackages are referenced by their name and provider."
      },
      "v1PackageManagerType": {
        "type": "string",
        "description": "Possible types of package managers.\n\nPackage managers are used to install and manage packages on the system.\n\n - PACKAGE_MANAGER_TYPE_UNSPECIFIED: fallback\n - PACKAGE_MANAGER_TYPE_APT: Advanced Packaging Type\n\nFor details, refer to [APT](https://en.wikipedia.org/wiki/APT_(software))\n - PACKAGE_MANAGER_TYPE_SNAP: Package Manager for Snap\n\nFor details, refer to [Snap](https://en.wikipedia.org/wiki/Snap_(software))\n - PACKAGE_MANAGER_TYPE_DNF: Dandified YUM\n\nFor details, refer to [DNF](https://en.wikipedia.org/wiki/DNF_(software))",
        "default": "PACKAGE_MANAGER_TYPE_UNSPECIFIED",
        "enum": [
          "PACKAGE_MANAGER_TYPE_UNSPECIFIED",
          "PACKAGE_MANAGER_TYPE_APT",
          "PACKAGE_MANAGER_TYPE_SNAP",
          "PACKAGE_MANAGER_TYPE_DNF"
        ]
      },
      "v1PackageVulnerability": {
        "type": "object",
        "properties": {
          "package": {
            "$ref": "#/components/schemas/v1Package"
          },
          "cveNumber": {
            "type": "string",
            "description": "A CVE identifier string.\n\n> **Info:**\n> [CVE identifiers](https://en.wikipedia.org/wiki/Common_Vulnerabilities_and_Exposures#CVE_identifiers)"
          },
          "firstDetectTime": {
            "type": "string",
            "description": "When the vulnerability was detected for the first time.",
            "format": "date-time"
          },
          "lastDetectTime": {
            "type": "string",
            "description": "When the vulnerability was seen for the last time.\n\nVulnerabilities are observed at discrete times. This is also the last time of observation.",
            "format": "date-time"
          },
          "patchAvailable": {
            "type": "boolean",
            "description": "If `true`, a patch fixing this vulnerability is available."
          },
          "riskScore": {
            "type": "integer",
            "description": "How risky the vulnerability is. \n\nThe score is a numerical expression ranging from 0 to 100, where:\n0 = no threat\n100 = threat",
            "format": "int64"
          },
          "severity": {
            "$ref": "#/components/schemas/v1SeverityLevel"
          },
          "vulnerabilityId": {
            "type": "integer",
            "description": "Vulnerability catalog ID.",
            "format": "int64"
          }
        },
        "description": "Descriptor of the package vulnerability."
      },
      "v1ScanDetails": {
        "type": "object",
        "properties": {
          "deviceUuid": {
            "type": "string",
            "description": "Reference to the [device] where the scan occurred; it might be empty if the scan was local (that is, on the very same device as the service).\n\ntype: device_management.v1.Device"
          },
          "endTime": {
            "type": "string",
            "description": "Time when the scan response was returned.",
            "format": "date-time"
          },
          "endedSuccessfully": {
            "type": "boolean",
            "description": "`True` if the scan ended successfully, `false` otherwise."
          },
          "scanTrigger": {
            "$ref": "#/components/schemas/v1ScanTrigger"
          },
          "startTime": {
            "type": "string",
            "description": "Time when vulnerability management started the scan.",
            "format": "date-time"
          },
          "vulnerabilityCount": {
            "type": "integer",
            "description": "Number of detected vulnerabilities either in the applications or the operating system.",
            "format": "int64"
          }
        },
        "description": "Details of the vulnerability scan."
      },
      "v1ScanTrigger": {
        "type": "string",
        "description": "Possible triggers of a scan.\n\n - SCAN_TRIGGER_UNSPECIFIED: fallback\n - SCAN_TRIGGER_SCHEDULER: The scan was triggered by automation, for example, a scheduler.\n - SCAN_TRIGGER_USER: The scan was triggered manually by a user.",
        "default": "SCAN_TRIGGER_UNSPECIFIED",
        "enum": [
          "SCAN_TRIGGER_UNSPECIFIED",
          "SCAN_TRIGGER_SCHEDULER",
          "SCAN_TRIGGER_USER"
        ]
      },
      "v1SeverityLevel": {
        "type": "string",
        "description": "Severity levels abstracted to cover all the possible GUIs. Vocabulary is leaving interpretation of severity level completely to API client.\n\n```info:\nThis approach is inevitable on SIEM level as there are many contributing sources. Keeping the local names for severity levels never fits all the GUIs. \n```\n\n - SEVERITY_LEVEL_UNSPECIFIED: fallback\n - SEVERITY_LEVEL_DIAGNOSTIC: In some GUIs known `Debug`\n - SEVERITY_LEVEL_INFORMATIONAL: In some GUIs known as `Info` or `Information`\n - SEVERITY_LEVEL_LOW: In some GUIs known `Warning`\n - SEVERITY_LEVEL_MEDIUM: In some GUIs known as `Error` or `Threat`\n - SEVERITY_LEVEL_HIGH: In some GUIs known as `Critical`",
        "default": "SEVERITY_LEVEL_UNSPECIFIED",
        "enum": [
          "SEVERITY_LEVEL_UNSPECIFIED",
          "SEVERITY_LEVEL_DIAGNOSTIC",
          "SEVERITY_LEVEL_INFORMATIONAL",
          "SEVERITY_LEVEL_LOW",
          "SEVERITY_LEVEL_MEDIUM",
          "SEVERITY_LEVEL_HIGH"
        ]
      },
      "v1Version": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "[Version id] determines whether one version is more recent than another. More recent versions have higher numbers.\n\nCan be processed by machine.\n\nIf human readable `version_name` meets certain criteria, it can be converted to `version_id` automatically. The cases are:\n`Windows => VersionId = MajorVersion << 48 | MinorVersion << 32 | ServicePackMajor << 24 | ServicePackMinor << 16 | CurrentBuildNumber`\n`Android => VersionId = API level`\n`YYYYMMDD => VersionId = (YYYY & 0xffff ) << 48 | (MM & 0xffff) << 32 | (DD & 0xffff) <<16`\n`YYYY.MM => VersionId = (YYYY & 0xffff ) << 48 | (MM & 0xffff) << 32`\n`YY.MM => VersionId = (YY & 0xffff ) << 48 | (MM & 0xffff) << 32`\n`YYYY => VersionId = (YYYY & 0xffff ) << 48`\n`Major.Minor.Patch => VersionId = (Major & 0xffff ) << 48 | (Minor & 0xffff) << 32 | (Patch & 0xffff) <<16`\n`EULA | Terms of Use => VersionId = MajorVersion << 48 | MinorVersion << 32 | Patch << 16`\n`A.B.C.D => VersionId = (A & 0xffff) << 48 | (B & 0xffff) << 32 | (C & 0xffff) << 16 | (D & 0xffff)`\n`A.B.C => VersionId = (A & 0xffff ) << 48 | (B & 0xffff) << 32 | (C & 0xffff) <<16`\n`A.B => VersionId = (A & 0xffff ) << 48 | (B & 0xffff) << 32`\n`A => VersionId = (A & 0xffff ) << 48`",
            "format": "uint64"
          },
          "major": {
            "type": "integer",
            "description": "Major version if and only if `version name` adheres to [semantic versioning](https://semver.org).\n\n`0` or null otherwise.",
            "format": "int64",
            "readOnly": true
          },
          "minor": {
            "type": "integer",
            "description": "Minor version if and only if `version name` adheres to [semantic versioning](https://semver.org).\n\n`0` or null otherwise.",
            "format": "int64",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Human readable name of the version.\n\nE.g. \"10.2.3.145\""
          },
          "patch": {
            "type": "integer",
            "description": "Patch if and only if `version name` adheres to [semantic versioning](https://semver.org).\n\n`0` or null otherwise.",
            "format": "int64",
            "readOnly": true
          }
        },
        "description": "Version descriptor.\n\nBoth values are required to completely reconstruct version information."
      },
      "v1VulnerabilityScope": {
        "type": "string",
        "description": "Possible scopes of a vulnerability.\n\n - VULNERABILITY_SCOPE_UNSPECIFIED: fallback\n - VULNERABILITY_SCOPE_APPLICATION: Vulnerability of an application.\n - VULNERABILITY_SCOPE_OPERATING_SYSTEM: Vulnerability of an operating system.\n - VULNERABILITY_SCOPE_PACKAGE: Vulnerability of a package.",
        "default": "VULNERABILITY_SCOPE_UNSPECIFIED",
        "enum": [
          "VULNERABILITY_SCOPE_UNSPECIFIED",
          "VULNERABILITY_SCOPE_APPLICATION",
          "VULNERABILITY_SCOPE_OPERATING_SYSTEM",
          "VULNERABILITY_SCOPE_PACKAGE"
        ]
      },
      "v1VulnerableDevice": {
        "type": "object",
        "properties": {
          "appVulnerabilities": {
            "type": "array",
            "description": "List of applications with vulnerabilities.",
            "items": {
              "$ref": "#/components/schemas/v1ApplicationVulnerability"
            }
          },
          "osVulnerabilities": {
            "type": "array",
            "description": "List of operating system vulnerabilities.",
            "items": {
              "$ref": "#/components/schemas/v1OsVulnerability"
            }
          },
          "packageVulnerabilities": {
            "type": "array",
            "description": "List of package vulnerabilities.",
            "items": {
              "$ref": "#/components/schemas/v1PackageVulnerability"
            }
          },
          "uuid": {
            "type": "string",
            "description": "Unique identifier of the entity.\n\nMust be collision-free - two identifiers created anywhere in the world must not collide within the entity parent scope. Unless a member of aggregate, the entity scope is always global.\n\nAlthough most of the times compliant with [RFC 4122: A Universally Unique IDentifier (UUID) URN Namespace](https://tools.ietf.org/html/rfc4122), do not rely on it being a RFC UUID. Treat it as an opaque identifier.\n\nRFC UUID can be recognized by being formatted according to the template xxxxxxxx-xxxx-Mxxx-Nxxx-xxxxxxxxxxxx, as explained on [Wikipedia](https://en.wikipedia.org/wiki/Universally_unique_identifier#Format).\n\nUUID is used for referencing an entity, even across domains.\n\nExample: \"123e4567-e89b-12d3-a456-426614174000\""
          }
        },
        "description": "Device with detected vulnerabilities.\n\nSuch a device identity must match the device from [device management]."
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Type \"Bearer \" and then your API Token",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-original-swagger-version": "2.0"
}