{
  "openapi": "3.0.1",
  "info": {
    "title": "ESET Connect - Web Access Protection",
    "description": "<h3>ESET Connect help:</h3><a href=https://help.eset.com/eset_connect/en-US/>https://help.eset.com/eset_connect/en-US/</a>",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://eu.web-access-protection.eset.systems/"
    }
  ],
  "tags": [
    {
      "name": "WebAddressRulesConfigurator"
    }
  ],
  "paths": {
    "/v2/policies/{policyUuid}/web-address-rules": {
      "get": {
        "tags": [
          "WebAddressRulesConfigurator"
        ],
        "summary": "List all address rules containing given domain",
        "operationId": "WebAddressRulesConfigurator_ListWebAddressRules",
        "parameters": [
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Reference to policy.\n\ntype: policy_management.v2.Policy",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeDomain",
            "in": "query",
            "description": "Domain of interest.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListWebAddressRulesResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/policies/{policyUuid}/web-address-rules/{addressRuleUuid}/domains": {
      "put": {
        "tags": [
          "WebAddressRulesConfigurator"
        ],
        "summary": "Update web address rule domains",
        "description": "Update all domains inside the web address rule. If the web address rule is empty, it will set the specified vector of domains; otherwise, it will replace all domains inside the web address rule. Original domains that were part of the web address rule will be replaced by the list of new ones. \nOnly domain parts of URLs are extracted and imported.\n\nAll domains are imported once. Multiple URLs sharing the domain part are imported once. Repeated addition of the same domain adds nothing to `added_domains_count`.\n\n> **Warning:**\n> Even if a single element is added, the whole policy MUST BE validated.",
        "operationId": "WebAddressRulesConfigurator_UpdateWebAddressRuleDomains",
        "parameters": [
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Reference to policy.\n\ntype: policy_management.v2.Policy",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "addressRuleUuid",
            "in": "path",
            "description": "Address rule where the domains will be updated.\n\ntype: WebAddressRule",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAddressRulesConfiguratorUpdateWebAddressRuleDomainsBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2UpdateWebAddressRuleDomainsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Response took too long; request cached. Response can be retrieved later using the response-id header.",
            "headers": {
              "response-id": {
                "description": "Unique ID of a pending request. Used to retrieve cached result.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "One of the errors: 1. Bad or missing authorization. 2. Validation error. Invalid argument provided.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "401": {
            "description": "Token has expired or is invalid.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "403": {
            "description": "Access denied. Check permissions.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "404": {
            "description": "Requested resource not found.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "429": {
            "description": "Rate limit reached. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "500": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "502": {
            "description": "Internal server failure. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "503": {
            "description": "Environment under maintenance. Try again later.",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          },
          "504": {
            "description": "Action took too long; timeout reached",
            "headers": {
              "request-id": {
                "description": "Unique ID of the request. Include in support requests.",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "schemas": {
      "WebAddressRulesConfiguratorUpdateWebAddressRuleDomainsBody": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "description": "List of new URLs (might contain just domains) that will be set up. The original URLs (domains) will be replaced by this vector of domains.",
            "items": {
              "type": "string"
            }
          },
          "sourceName": {
            "type": "string",
            "description": "Name of the data source. Filename if the source is a file."
          }
        }
      },
      "protobufAny": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "rpcStatus": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            }
          }
        }
      },
      "v2ListWebAddressRulesResponse": {
        "type": "object",
        "properties": {
          "addressRuleUuids": {
            "type": "array",
            "description": "All the rules that contain the domain from the request.\n\ntype: WebAddressRule",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "v2UpdateWebAddressRuleDomainsResponse": {
        "type": "object",
        "properties": {
          "addedDomainsCount": {
            "type": "integer",
            "description": "Count of truly imported domains, duplicate domains are skipped.",
            "format": "int64"
          },
          "malformedDomains": {
            "type": "array",
            "description": "List of malformed domains that were not imported inside the web address rule.",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Type \"Bearer \" and then your API Token",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-original-swagger-version": "2.0"
}